@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica-Bold.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica-Bold.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}