@media (min-width: 769px) {
  .provision-address.address {
    max-width: initial;
  }
}
@media (max-width: 420px) {
  .footer {
    bottom: initial;
  }

  .homeSection .appInfoBox .banner-heading {
    font-size: 30px;
  }

  .list-item .list-item-label {
    width: 80px;
    margin-right: 10px;
  }

  .id-string {
    width: 100px;
  }

  .profile-section .list-item .list-item-value {
    word-break: initial;
  }
  .profile-section .list-item .list-item-label {
    width: 100px;
  }
}
@media (max-width: 768px) {
  .banner-image-section {
    display: none !important;
  }

  .content-section .accountInfo .col-md-9 .card-deck {
    height: auto;
  }

  .summary-section {
    height: auto;
  }

  .navbar-dark .navbar-toggler {
    padding: 0 15px;
  }

  .navbar-toggler-icon {
    width: 1rem;
  }

  .nav-items {
    display: inline-flex;
  }

  .profile-section .profile-picture-section {
    padding: 15px !important;
  }

  .footer .bottom-section {
    display: block !important;
  }
  .footer .bottom-section .blogs {
    justify-content: center;
  }
  .footer .bottom-section .bottom-right-section {
    justify-content: center;
  }
}
@media (max-width: 1400px) {
  .banner-image-section imge {
    margin-right: auto;
  }

  .profile-data-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (max-width: 576px) {
  .row {
    margin: auto;
  }

  .homeSection .appInfoBox {
    padding: 50px 0;
  }

  .navbar-dark {
    padding: 0 1rem;
  }

  .option-box:nth-child(2) {
    margin: 0px 10px;
  }
  .option-box p {
    font-size: 14px;
  }

  .search-section {
    width: 100%;
  }

  .signup-section .private-key {
    display: block;
  }
  .signup-section .private-key .new-address {
    word-break: break-word;
  }

  .profile-data-item .id-string {
    max-width: 180px;
  }
}
@media (max-width: 991px) {
  .navbar-collapse {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    padding-bottom: 15px;
  }

  .navbar-dark .navbar-nav .nav-link {
    display: inline-flex;
  }

  .navbar-dark .navbar-brand a img {
    width: 130px;
  }

  .nav-items {
    display: inline-flex;
  }

  .navbar-dark .navbar-toggler {
    padding: 5px 10px;
    margin: 14px 0;
    outline: none !important;
    border: 1px solid #adb5bd;
  }
  .navbar-dark .navbar-toggler .icon {
    width: 18px;
    height: 18px;
  }

  .navbar-toggler-icon {
    width: 1rem;
    height: 1rem;
  }

  .banner-image-section img {
    margin-right: -30px;
    width: 300px;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    right: 0;
    width: 100%;
  }

  .body-section {
    padding-top: 60px;
  }

  .login-before .navbar {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 720px;
  }

  .content-section .accountInfo .row {
    overflow-y: auto;
  }
  .content-section .accountInfo .row .col-md-9, .content-section .accountInfo .row .col-md-3 {
    flex: initial;
    max-width: initial;
  }
  .content-section .accountInfo .row .col-md-9 {
    flex-direction: column;
  }
  .content-section .accountInfo .row .col-md-9 .card-deck {
    height: auto;
  }
  .content-section .accountInfo .row .summary-section {
    height: auto;
  }

  .mint-page-body {
    flex-wrap: wrap;
  }
  .mint-page-body .custom-file-upload-box .custom-file-upload label {
    width: 100%;
  }
  .mint-page-body .left-content {
    width: 100%;
  }
  .mint-page-body .right-content {
    margin: 0;
  }

  .profile-dropdown .dropdown-menu {
    margin: 0px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    border: 0px solid;
    padding: 0;
    border-radius: 0;
    position: absolute;
    top: auto !important;
    left: 0 !important;
    margin: 0 !important;
    right: auto !important;
    bottom: auto !important;
    -webkit-transform: initial !important;
    transform: initial !important;
  }
}
@media (min-width: 992px) and (max-width: 1080px) {
  .navbar-dark .navbar-nav .nav-link {
    padding: 0 0.75rem !important;
    font-size: 12px;
  }

  .banner-image-section img {
    margin-right: -30px;
    width: 350px;
  }
}

/*# sourceMappingURL=mediaqueries.css.map */
