#root {
  position: relative;
  min-height: 100vh; }

html, body, #root, .app {
  height: 100%; }

.navbar-dark.login-after {
  padding: 0 35px; }

.navbar-dark {
  padding: 0; }
  .navbar-dark .navbar-nav .nav-link {
    padding: 0 1.3rem !important;
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    border-bottom: 3px solid transparent; }
  .navbar-dark .nav-link.active {
    border-bottom: 3px solid #EFCB30; }
  .navbar-dark .navbar-brand {
    padding: 0 0 10px 0; }
    .navbar-dark .navbar-brand a {
      text-decoration: underline;
      font-weight: bold;
      padding: 0;
      font-size: 24px; }
      .navbar-dark .navbar-brand a img {
        width: 160px; }

.app-nav {
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05); }

::-webkit-scrollbar {
  width: 6px;
  height: 12px;
  border-radius: 4px; }

::-webkit-scrollbar-thumb {
  border: 0 solid #fff;
  border-radius: 20px;
  background: #EFCB30; }

.navbar-dark .navbar-nav .nav-link {
  padding: 1rem 1rem; }
.navbar-dark .navbar-nav .button-login-section {
  display: flex;
  align-items: center;
  padding: 0 0 0 16px; }
  .navbar-dark .navbar-nav .button-login-section .button-double-border {
    padding: 3px .75rem; }
.navbar-dark .navbar-nav .dropdown-toggle .profile-icon {
  display: flex; }
  .navbar-dark .navbar-nav .dropdown-toggle .profile-icon p {
    margin: 0; }
.navbar-dark .navbar-nav .dropdown-toggle::after {
  display: none; }

.provision-address {
  word-break: break-word; }

.sub-title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
  color: #999999; }

.button-double-border {
  background: #FFFFFF;
  color: #262A2B;
  border: 0px solid;
  border-radius: 15px;
  box-shadow: 0px 0px 0 0px #ffffff, 0px 0px 0 0px #ffffff, 4px 4px 0 1px #262A2B, 4px 4px 0 2px #FFFFFF; }
  .button-double-border:hover {
    color: #262a2b;
    background-color: #efcc30;
    border-color: #ffffff; }

.btn-primary.button-double-border:not(:disabled):not(.disabled).active:focus, .btn-primary.button-double-border:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.button-double-border.dropdown-toggle:focus, .btn-primary.button-double-border.focus, .btn-primary.button-double-border:focus {
  color: #262a2b;
  background-color: #efcc30;
  box-shadow: 0px 0px 0 0px #ffffff, 0px 0px 0 0px #ffffff, 4px 4px 0 1px #262A2B, 4px 4px 0 2px #FFFFFF;
  border-color: #ffffff; }

.btn .btn-outline-info {
  color: #fff;
  border: 1px solid #fff; }

.errorText {
  color: #ff0033;
  font-size: 0.785rem; }

.address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; }

.list-container {
  width: 100%;
  padding: 20px 0 0 0; }
  .list-container .empty-list {
    color: #999999;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .list-container button {
    margin: 5px; }

.homeSection {
  padding-top: 20px; }
  .homeSection .btn-primary {
    background: #FFFFFF; }
  .homeSection .row {
    margin-left: auto;
    margin-right: auto; }
  .homeSection .col-md-3, .homeSection .col-md-6 {
    color: #fff; }
    .homeSection .col-md-3:not(:first-child), .homeSection .col-md-6:not(:first-child) {
      border-left: 1px solid #fff; }
  .homeSection .col-md-6 {
    flex: 50%;
    max-width: 50%; }
  .homeSection .appInfoBox {
    padding: 200px 0; }
    .homeSection .appInfoBox .banner-heading {
      font-weight: bold;
      font-size: 58px;
      line-height: 96px; }
    .homeSection .appInfoBox .banner-content {
      line-height: 2;
      margin-bottom: 25px; }

.createAccountSection {
  display: flex;
  justify-content: center;
  margin-top: 30px; }
  .createAccountSection .submitButtonSection {
    text-align: center;
    margin-top: 30px; }

.card-deck .card {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin-right: 0;
  margin-left: 0;
  border-radius: 5px; }
  .card-deck .card .card-title {
    text-transform: uppercase; }

.accountInfo {
  flex: 1; }
  .accountInfo .tab-content {
    padding: 15px; }
    .accountInfo .tab-content form input {
      width: 300px; }
  .accountInfo .button {
    margin-right: 10px; }
  .accountInfo .signup-box {
    padding: 50px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 5px; }

.word-break {
  word-break: break-word; }

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn-primary, .btn-primary:hover {
  border-color: #efcc30; }

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none; }

.pageError {
  height: calc(100vh - 66px);
  display: flex;
  align-items: center;
  justify-content: center; }

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999; }

.dropdown-item.active, .dropdown-item:active {
  background-color: #EFCB30 !important;
  color: #262a2b; }

.Tabs {
  display: flex;
  background: #dee2e6; }
  .Tabs .nav-link {
    flex: 1;
    text-align: center; }

.network-check {
  position: absolute;
  width: 100%;
  background: #dee2e6f0;
  z-index: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .network-check .center {
    text-align: center; }
  .network-check img {
    width: 150px; }

.text-muted.show {
  display: block; }

.text-muted.none {
  display: none; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
  font-size: 0.875rem;
  text-align: center; }
  .footer label {
    color: #FFFFFF; }

.submitButtonSection {
  margin-top: 20px; }

.tabs-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .tabs-top-bar p {
    margin: 0;
    color: #fff; }

.button-define {
  margin: 5px; }

.banner-image-section {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .banner-image-section img {
    margin-right: -45px; }

.modal-content {
  border-radius: 15px; }
  .modal-content .mrt-10 {
    margin-top: 10px; }
  .modal-content .modal-header {
    display: block;
    padding: 20px;
    font-weight: 500;
    font-size: 18px;
    text-align: center; }
  .modal-content .modal-body {
    padding: 25px 25px 40px 25px; }
  .modal-content .modal-footer {
    justify-content: center; }

.login-error p {
  margin: 5px 0; }

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus, .btn-primary.focus, .btn-primary:focus {
  border-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05); }

.signup-section .modal-body {
  text-align: center; }
.signup-section .private-key {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .signup-section .private-key label {
    font-size: 12px;
    color: #262A2B;
    margin-bottom: 15px; }
  .signup-section .private-key input {
    min-width: 200px;
    max-width: 300px;
    padding: 20px; }
  .signup-section .private-key button {
    min-width: 200px;
    max-width: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    padding: 15px;
    font-weight: 600;
    font-size: 14px;
    color: #262A2B; }
  .signup-section .private-key .mnemonic-note {
    font-weight: 500;
    color: #E95D54;
    font-size: 14px; }
  .signup-section .private-key .mnemonic-text {
    padding: 10px 20px;
    background: rgba(239, 203, 48, 0.04);
    border: 0.2px solid #262A2B;
    box-sizing: border-box;
    border-radius: 14px;
    text-align: justify;
    color: #262A2B; }
  .signup-section .private-key .key-download {
    margin: 0; }
    .signup-section .private-key .key-download a {
      color: #000000 !important;
      font-weight: 500;
      font-size: 14px; }
    .signup-section .private-key .key-download img {
      transform: rotate(90deg);
      height: 5px; }
  .signup-section .private-key .download-note {
    font-size: 12px; }
.signup-section .button-signup {
  padding: 15px;
  border-radius: 14px;
  font-weight: 600;
  font-size: 14px;
  width: 250px;
  border: 1px solid #F5F5F5;
  background: #FFFFFF;
  color: #262A2B; }
  .signup-section .button-signup:hover {
    border: 1px solid #efcc30;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05); }
.signup-section .button-signup-mnemonic {
  margin-bottom: 15px; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #efcc30;
  border: 0px solid; }
.custom-checkbox input, .custom-switch input {
  margin-top: 5px; }

.loader .modal-content {
  border: 0;
  background: none; }

.tx-hash {
  word-break: break-all; }

.error-response {
  color: #dc3545; }

.login-section .mrt-10 {
  display: flex;
  justify-content: center; }

.button-view {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  width: 400px;
  justify-content: space-between;
  padding: 18px 25px 18px 15px;
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  border-radius: 14px; }
  .button-view .icon-section {
    display: flex;
    align-items: center;
    margin: 0; }
    .button-view .icon-section .icon {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      margin-right: 15px;
      background: #EFCB30;
      position: relative; }
      .button-view .icon-section .icon img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto; }

.mnemonic-login-section.login-section .button-view {
  background: #EFCB30;
  border: 1px solid #F5F5F5; }
  .mnemonic-login-section.login-section .button-view .icon-section .icon {
    background: #FFFFFF; }
  .mnemonic-login-section.login-section .button-view .arrow-icon {
    transform: rotate(90deg); }
.mnemonic-login-section.login-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; }
  .mnemonic-login-section.login-section form textarea {
    min-width: 200px;
    max-width: 400px;
    background: rgba(239, 203, 48, 0.04);
    border: 0.2px solid #262A2B;
    box-sizing: border-box;
    border-radius: 14px; }
    .mnemonic-login-section.login-section form textarea::placeholder {
      color: #999999;
      font-size: 12px; }
  .mnemonic-login-section.login-section form .button-double-border {
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0px 0px 0 0px #ffffff, 0px 0px 0 2px #efcc30, 4px 4px 0 1px #ffffff, 4px 4px 0 2px #262A2B; }
    .mnemonic-login-section.login-section form .button-double-border:hover {
      color: #262a2b;
      background-color: #efcc30;
      border-color: #ffffff; }
  .mnemonic-login-section.login-section form .btn-primary.button-double-border:not(:disabled):not(.disabled).active:focus, .mnemonic-login-section.login-section form .btn-primary.button-double-border:not(:disabled):not(.disabled):active:focus, .mnemonic-login-section.login-section form .show > .btn-primary.button-double-border.dropdown-toggle:focus, .mnemonic-login-section.login-section form .btn-primary.button-double-border.focus, .mnemonic-login-section.login-section form .btn-primary.button-double-border:focus {
    color: #262a2b;
    background-color: #efcc30;
    box-shadow: 0px 0px 0 0px #ffffff, 0px 0px 0 0px #ffffff, 4px 4px 0 1px #ffffff, 4px 4px 0 2px #262A2B;
    border-color: #ffffff; }

.mnemonic-login-section.login-section.key-select form {
  align-items: start;
  padding-left: 25px;
  margin: 15px 0; }
  .mnemonic-login-section.login-section.key-select form input {
    min-width: 200px;
    max-width: 400px; }
  .mnemonic-login-section.login-section.key-select form .submitButtonSection {
    text-align: center;
    width: 100%; }

.search-section .input-group input {
  min-width: 70px;
  background: transparent;
  border: 1px solid #434849;
  border-left: 0px solid; }
  .search-section .input-group input:focus {
    box-shadow: none; }
.search-section .input-group .input-group-text {
  background: transparent;
  border: 1px solid #434849;
  border-right: 0px solid; }

.content-section {
  display: flex;
  width: 100%;
  align-items: stretch;
  height: calc(100% - 60px); }
  .content-section .accountInfo .row {
    margin: 0; }
  .content-section .accountInfo .col-md-9.card-deck {
    background: #F5F5F5;
    padding: 0;
    margin: 0;
    flex: 0 0 100%;
    max-width: 100%; }
    .content-section .accountInfo .col-md-9.card-deck .card-deck {
      overflow-y: auto;
      height: calc(100vh - 151px);
      scrollbar-color: #C2D2E4 transparent;
      scrollbar-width: thin;
      scrollbar-radius: 4px; }
      .content-section .accountInfo .col-md-9.card-deck .card-deck .card {
        height: 400px;
        overflow: auto;
        padding: 15px;
        margin: 10px; }
  .content-section .accountInfo .summary-section {
    display: none; }

.side-bar {
  padding: 20px 0px 20px 0px;
  min-width: 250px;
  max-width: 250px;
  background: #2E3031;
  color: #6b6b6b;
  transition: all 0.3s;
  position: relative;
  overflow-y: auto; }
  .side-bar .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px; }
    .side-bar .header-section p {
      margin: 0;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      color: #E3E3E3; }
    .side-bar .header-section img {
      cursor: pointer;
      transform: rotate(0deg);
      width: 25px;
      padding: 5px; }
  .side-bar .sidebar-buttons button {
    background: #373A3A;
    border-radius: 45px;
    font-weight: 600;
    font-size: 14px;
    color: #999999;
    border: 0px solid;
    width: 150px;
    padding: 6px;
    margin-bottom: 15px; }
  .side-bar .content {
    padding: 0 15px 0 30px; }
  .side-bar .footer {
    background: transparent; }

.side-bar.active {
  margin-left: -200px; }
  .side-bar.active img {
    transform: rotate(180deg); }

.dropdown-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 0 75px 0 25px; }
  .dropdown-section .dropdown button, .dropdown-section .dropdown .show > .btn-success.dropdown-toggle {
    background: #FFFFFF !important;
    border: 1px solid #E3E3E3 !important;
    box-sizing: border-box;
    border-radius: 7px;
    color: #999999 !important; }
  .dropdown-section .dropdown .btn-success:not(:disabled):not(.disabled):active:focus {
    box-shadow: none; }
  .dropdown-section h4 {
    font-weight: bold;
    font-size: 16px;
    color: #262A2B;
    padding: 26px 0;
    margin: 0; }

.summary-section {
  height: calc(100vh - 60px);
  padding: 15px 40px 15px 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  overflow-y: auto; }
  .summary-section p {
    font-weight: bold;
    font-size: 16px;
    color: #262A2B; }

.disabled {
  opacity: 0.65 !important;
  cursor: not-allowed !important; }

.copy-section {
  position: relative;
  display: flex;
  justify-content: center; }
  .copy-section .copy-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 5px; }
  .copy-section .copy-result {
    position: absolute;
    top: -25px;
    right: -15px; }
    .copy-section .copy-result span {
      color: #000;
      font-size: 12px;
      font-weight: 600; }

.hidden {
  display: none; }

.height-medium {
  height: 300px !important; }

.id-string {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.id-section {
  display: flex;
  margin: 15px 0; }
  .id-section .id-string {
    margin: 0; }

.button-group {
  display: flex;
  flex-wrap: wrap; }

.list-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px; }
  .list-item .list-item-label {
    width: 130px;
    text-align: left;
    margin: 0; }
  .list-item .list-item-value {
    text-align: left;
    margin: 0 0 0 5px;
    word-break: break-word;
    flex: 1; }

.profile-section .col-md-9.card-deck .card-deck .card {
  height: 300px !important; }
.profile-section .card {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 7px; }
  .profile-section .card .card-heading {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #262A2B;
    margin-bottom: 15px; }
.profile-section .list-item {
  padding-bottom: 15px; }
  .profile-section .list-item .list-item-label {
    width: 200px; }
.profile-section .profile-picture-section {
  padding: 40px !important; }
.profile-section .profile-picture {
  display: flex;
  align-items: center;
  padding-bottom: 15px; }
  .profile-section .profile-picture .image {
    margin-right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FBF1C5; }
.profile-section .ledger-box {
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  box-sizing: border-box;
  border-radius: 14px;
  padding: 20px; }
  .profile-section .ledger-box .image-section {
    display: flex;
    justify-content: center;
    position: relative; }
    .profile-section .ledger-box .image-section::before {
      content: "";
      width: 85px;
      border-top: 0.5px dashed #EFCB30;
      top: 20px;
      position: absolute; }
    .profile-section .ledger-box .image-section .ledger-image {
      text-align: center;
      width: 40px;
      height: 40px;
      background: #FBF1C5;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%; }
      .profile-section .ledger-box .image-section .ledger-image img {
        margin-top: 8px;
        width: 24px; }
  .profile-section .ledger-box .heading {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #262A2B;
    margin: 10px 0 15px 0; }
  .profile-section .ledger-box .button-view {
    opacity: .65;
    cursor: not-allowed;
    width: 150px;
    margin: 0 auto;
    background: #EFCB30;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05); }

/*# sourceMappingURL=styles.css.map */
