.app {
}

#root {
  position: relative;
  min-height: 100vh;
}

html, body, #root, .app {
  height: 100%;
}

.navbar-dark.login-after{
  padding: 0 35px;
}
.navbar-dark {
  padding: 0;
  .navbar-nav .nav-link {
    padding: 0 1rem !important;
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    border-bottom: 3px solid transparent;
  }

  .nav-link.active {
    border-bottom: 3px solid #EFCB30;
  }

  .navbar-brand {
    padding: 0 0 10px 0;

    a {
      text-decoration: underline;
      font-weight: bold;
      padding: 0;
      font-size: 24px;

      img {
        width: 160px;
      }
    }
  }
}

.app-nav {
  //border: 2px solid #242424;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

}

::-webkit-scrollbar {
  width: 6px;
  height: 12px;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border: 0 solid #fff;
  //-webkit-box-shadow: inset 0 0 0 20px rgba(0, 0, 0, .24);
  //box-shadow: inset 0 0 0 20px rgba(0, 0, 0, .24);
  border-radius: 20px;
  background: #EFCB30;
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      padding: 1rem 1rem;
    }

    .button-login-section {
      display: flex;
      align-items: center;
      padding: 0 0 0 16px;

      .button-double-border {
        padding: 3px .75rem;
      }
    }

    .dropdown-toggle {
      .profile-icon {
        display: flex;

        p {
          margin: 0;
        }
      }

      &::after {
        display: none;
      }
    }
  }
}

.sub-title{
  font-weight: 600;
  font-size: 14px;
  color: #999999;
}
.button-double-border {
  background: #FFFFFF;
  color: #262A2B;
  border: 0px solid;
  border-radius: 15px;
  box-shadow: 0px 0px 0 0px #ffffff, 0px 0px 0 0px #ffffff, 4px 4px 0 1px #262A2B, 4px 4px 0 2px #FFFFFF;

  &:hover {
    color: #262a2b;
    background-color: #efcc30;
    border-color: #ffffff;
  }
}

.btn-primary.button-double-border:not(:disabled):not(.disabled).active:focus, .btn-primary.button-double-border:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.button-double-border.dropdown-toggle:focus, .btn-primary.button-double-border.focus, .btn-primary.button-double-border:focus {
  color: #262a2b;
  background-color: #efcc30;
  box-shadow: 0px 0px 0 0px #ffffff, 0px 0px 0 0px #ffffff, 4px 4px 0 1px #262A2B, 4px 4px 0 2px #FFFFFF;
  border-color: #ffffff;
}

.btn {
  .btn-outline-info {
    color: #fff;
    border: 1px solid #fff;
  }
}

.errorText {
  color: #ff0033;
  font-size: 0.785rem;
}

.address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.list-container {
  width: 100%;
  padding: 20px 0 0 0;
  .empty-list {
    color: #999999;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.homeSection {
  padding-top: 20px;

  .btn-primary {
    background: #FFFFFF;
  }

  .row {
    margin-left: auto;
    margin-right: auto;
  }

  .col-md-3, .col-md-6 {
    color: #fff;

    &:not(:first-child) {
      border-left: 1px solid #fff;
    }
  }

  .col-md-6 {
    flex: 50%;
    max-width: 50%;
  }

  .appInfoBox {
    padding: 200px 0;

    .banner-heading {
      font-weight: bold;
      font-size: 58px;
      line-height: 96px;
    }

    .banner-content {
      line-height: 2;
      margin-bottom: 25px;
    }
  }
}

.createAccountSection {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  .submitButtonSection {
    text-align: center;
    margin-top: 30px;
  }
}


.card-deck {
  .card {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    margin-right: 0;
    margin-left: 0;
    border-radius: 5px;

    .card-title {
      text-transform: uppercase;
    }
  }

}

.accountInfo {
  flex: 1;

  .tab-content {
    padding: 15px;

    form input {
      width: 300px;
    }
  }

  .button {
    margin-right: 10px;
  }

  .signup-box {
    padding: 50px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 5px;
  }

}

.word-break {
  word-break: break-word;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn-primary, .btn-primary:hover {
  border-color: #efcc30;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.pageError {
  height: calc(100vh - 66px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #EFCB30 !important;
  color: #262a2b;
}

.Tabs {
  display: flex;
  background: #dee2e6;

  .nav-link {
    flex: 1;
    text-align: center;
  }
}

.network-check {
  position: absolute;
  width: 100%;
  background: #dee2e6f0;
  z-index: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .center {
    text-align: center;
  }

  img {
    width: 150px;
  }

}

.text-muted.show {
  display: block;
}


.text-muted.none {
  display: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
  font-size: 0.875rem;
  text-align: center;

  label {
    color: #FFFFFF;
  }
}

.submitButtonSection {
  margin-top: 20px;
}

.tabs-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
    color: #fff;
  }
}

.banner-image-section {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  img {
    margin-right: -45px;
  }
}

.modal-content {
  border-radius: 15px;

  .mrt-10 {
    margin-top: 10px;
  }

  .modal-header {
    display: block;
    padding: 20px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }

  .modal-body {
    padding: 25px 25px 40px 25px;
  }

  .modal-footer {
    justify-content: center;
  }
}

.login-error{
  p{
    margin:5px 0;
  }
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus, .btn-primary.focus, .btn-primary:focus {
  border-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.signup-section {
  .modal-body {
    text-align: center;
  }

  .private-key {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      font-size: 12px;
      color: #262A2B;
      margin-bottom: 15px;
    }

    input {
      min-width: 200px;
      max-width: 300px;
      padding: 20px;
    }

    button {
      min-width: 200px;
      max-width: 300px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
      border-radius: 14px;
      padding: 15px;
      font-weight: 600;
      font-size: 14px;
      color: #262A2B;
    }

    .mnemonic-note {
      font-weight: 500;
      color: #E95D54;
      font-size: 14px;
    }

    .mnemonic-text {
      padding: 10px 20px;
      background: rgba(239, 203, 48, 0.04);
      border: 0.2px solid #262A2B;
      box-sizing: border-box;
      border-radius: 14px;
      text-align: justify;
      color: #262A2B;
    }

    .key-download {
      margin: 0;

      a {
        color: #000000 !important;
        font-weight: 500;
        font-size: 14px;
      }

      img {
        transform: rotate(90deg);
        height: 5px;
      }
    }

    .download-note {
      font-size: 12px;
    }
  }


  .button-signup {
    padding: 15px;
    border-radius: 14px;
    font-weight: 600;
    font-size: 14px;
    width: 250px;
    border: 1px solid #F5F5F5;
    background: #FFFFFF;
    color: #262A2B;

    &:hover {
      border: 1px solid #efcc30;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    }
  }

  .button-signup-mnemonic {
    margin-bottom: 15px;
  }
}

.custom-checkbox, .custom-switch {
  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #efcc30;
    border: 0px solid;
  }

  input {
    margin-top: 5px;
  }
}

.loader .modal-content {
  border: 0;
  background: none;
}

.tx-hash {
  word-break: break-all;
}

.error-response {
  color: #dc3545;
}

.login-section {
  .mrt-10 {
    display: flex;
    justify-content: center;
  }

  .button-view {
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding: 18px 25px 18px 15px;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 14px;

    .icon-section {
      display: flex;
      align-items: center;

      .icon {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        margin-right: 15px;
        background: #EFCB30;
        position: relative;

        img {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          margin: auto;
        }
      }
    }
  }
}

.mnemonic-login-section.login-section {
  .button-view {
    background: #EFCB30;
    border: 1px solid #F5F5F5;

    .icon-section {
      .icon {
        background: #FFFFFF;
      }
    }

    .arrow-icon {
      transform: rotate(90deg);
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    textarea {
      min-width: 200px;
      max-width: 400px;
      background: rgba(239, 203, 48, 0.04);
      border: 0.2px solid #262A2B;
      box-sizing: border-box;
      border-radius: 14px;

      &::placeholder {
        color: #999999;
        font-size: 12px;
      }
    }

    .button-double-border {
      font-weight: 600;
      font-size: 14px;
      box-shadow: 0px 0px 0 0px #ffffff, 0px 0px 0 2px #efcc30, 4px 4px 0 1px #ffffff, 4px 4px 0 2px #262A2B;

      &:hover {
        color: #262a2b;
        background-color: #efcc30;
        border-color: #ffffff;
      }
    }

    .btn-primary.button-double-border:not(:disabled):not(.disabled).active:focus, .btn-primary.button-double-border:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.button-double-border.dropdown-toggle:focus, .btn-primary.button-double-border.focus, .btn-primary.button-double-border:focus {
      color: #262a2b;
      background-color: #efcc30;
      box-shadow: 0px 0px 0 0px #ffffff, 0px 0px 0 0px #ffffff, 4px 4px 0 1px #ffffff, 4px 4px 0 2px #262A2B;
      border-color: #ffffff;
    }
  }
}

.mnemonic-login-section.login-section.key-select {
  form {
    align-items: start;
    padding-left: 25px;
    margin: 15px 0;

    input {
      min-width: 200px;
      max-width: 400px;
    }

    .submitButtonSection {
      text-align: center;
      width: 100%;
    }
  }
}

.search-section {
  .input-group {
    input {
      min-width: 70px;
      background: transparent;
      border: 1px solid #434849;
      border-left: 0px solid;

      &:focus {
        box-shadow: none;
      }
    }

    .input-group-text {
      background: transparent;
      border: 1px solid #434849;
      border-right: 0px solid;
    }
  }
}

.content-section {
  display: flex;
  width: 100%;
  align-items: stretch;
  height: calc(100% - 60px);

  .accountInfo {
    .row {
      margin: 0;
    }

    .col-md-9 {
      background: #F5F5F5;
      padding: 0;
      margin: 0;

      .card-deck {
        overflow-y: auto;
        height: calc(100vh - 151px);
        scrollbar-color: #C2D2E4 transparent;
        scrollbar-width: thin;
        scrollbar-radius: 4px;
        .card{
          height: 400px;
          overflow: auto;
          padding: 15px;
          margin:10px
        }
      }
    }
  }
}

.side-bar {

  padding: 20px 0px 20px 0px;
  min-width: 250px;
  max-width: 250px;
  background: #2E3031;
  color: #6b6b6b;
  transition: all 0.3s;
  position: relative;
  overflow-y: auto;

  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

    p {
      margin: 0;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      color: #E3E3E3;
    }

    img {
      cursor: pointer;
      transform: rotate(0deg);
      width: 25px;
      padding: 5px;
    }
  }

  .sidebar-buttons {
    button {
      background: #373A3A;
      border-radius: 45px;
      font-weight: 600;
      font-size: 14px;
      color: #999999;
      border: 0px solid;
      width: 150px;
      padding: 6px;
      margin-bottom: 15px;
    }
  }

  .content {
    padding: 0 20px 0 30px;
  }
  .footer{
    background: transparent;
  }
}

.side-bar.active {
  margin-left: -210px;

  img {
    transform: rotate(180deg);
  }
}

.dropdown-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding:0 75px 0 25px;
  .dropdown{
    button, .show>.btn-success.dropdown-toggle{
      background: #F5F5F5 !important;
      border: 1px solid #CCCCCC !important;
      box-sizing: border-box;
      border-radius: 7px;
      color: #999999 !important;
    }
    .btn-success:not(:disabled):not(.disabled):active:focus{
      box-shadow: none;
    }
  }
  h4 {
    font-weight: bold;
    font-size: 16px;
    color: #262A2B;
    padding: 26px 0;
    margin: 0;
  }
}

.summary-section {
  height: calc(100vh - 60px);
  padding: 15px 40px 15px 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  overflow-y: auto;

  p {
    font-weight: bold;
    font-size: 16px;
    color: #262A2B;
  }
}

.copy-section{
  position       : relative;
  display        : flex;
  justify-content: center;

  .copy-icon {
    width      : 20px;
    height     : 20px;
    cursor     : pointer;
    margin-left: 5px;
  }

  .copy-result {
    position: absolute;
    top     : -25px;
    right   : -15px;

    span {
      color      : #000;
      font-size  : 12px;
      font-weight: 600;
    }
  }
}
.id-section{
  display: flex;
  margin: 15px 0;
  .id{
    margin: 0;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.list-item{
  display: flex;
  margin-bottom: 5px;
  .list-item-label{
    width: 130px;
    text-align: left;
    margin: 0;
  }
  .list-item-value{
    text-align: left;
    margin:0 0 0 5px;
    word-break: break-word;
    flex: 1;
  }
}